<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="StudentSearchWebServiceSoap" />
                <binding name="ListRoomWebServiceSoap" />
                <binding name="ListEnrolledStudentsSoap" />
                <binding name="StudentSearchWebServiceSoap1" />
                <binding name="ListRoomWebServiceSoap1" />
                <binding name="ListEnrolledStudentsSoap1" />
                <binding name="ListEnrolledStudentsSoap2" />
                <binding name="ListRoomWebServiceSoap2" />
                <binding name="StudentSearchWebServiceSoap2" />
                <binding name="MaintenanceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/AttendanceChecker/StudentSearchWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="StudentSearchWebServiceSoap1"
                contract="StudentSearchWebService.StudentSearchWebServiceSoap"
                name="StudentSearchWebServiceSoap" />
            <endpoint address="http://localhost/AttendanceChecker/ListRoomWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ListRoomWebServiceSoap1"
                contract="ListRoomWebService.ListRoomWebServiceSoap" name="ListRoomWebServiceSoap" />
            <endpoint address="http://localhost/AttendanceChecker/ListEnrolledStudents.asmx"
                binding="basicHttpBinding" bindingConfiguration="ListEnrolledStudentsSoap1"
                contract="ListEnrolledStudents.ListEnrolledStudentsSoap" name="ListEnrolledStudentsSoap" />
            <endpoint address="http://localhost/AttendanceChecker/Maintenance.asmx"
                binding="basicHttpBinding" bindingConfiguration="MaintenanceSoap"
                contract="Maintenance.MaintenanceSoap" name="MaintenanceSoap" />
        </client>
    </system.serviceModel>
</configuration>