<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="StudentSearchWebServiceSoap" />
                <binding name="ListRoomWebServiceSoap" />
                <binding name="ListEnrolledStudentsSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/aspnet_client/StudentSearchWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="StudentSearchWebServiceSoap"
                contract="StudentSearchWebService.StudentSearchWebServiceSoap"
                name="StudentSearchWebServiceSoap" />
            <endpoint address="http://localhost/aspnet_client/ListRoomWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ListRoomWebServiceSoap"
                contract="ListRoomWebService.ListRoomWebServiceSoap" name="ListRoomWebServiceSoap" />
            <endpoint address="http://localhost/aspnet_client/ListEnrolledStudents.asmx"
                binding="basicHttpBinding" bindingConfiguration="ListEnrolledStudentsSoap"
                contract="ListEnrolledStudents.ListEnrolledStudentsSoap" name="ListEnrolledStudentsSoap" />
        </client>
    </system.serviceModel>
</configuration>